* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

#main-pg {
  height: 1315px;
  background: url("../graphics/your_verse.jpg") no-repeat;
  background-position: -150px -800px;
}

#nav-wrapper {
  position: relative;
  top: 25px;
  left: 50px;
}

nav ul {
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  display: inline;
  float: left;
  border-right: solid black .5px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  background: -webkit-linear-gradient(darkgrey 50%, grey 50%);
  background:    -moz-linear-gradient(darkgrey 50%, grey 50%);
  background:         linear-gradient(darkgrey 50%, grey 50%);
}

nav ul li:nth-child(1) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#search {
  float: left;
  padding: 0 5px 0 5px;
  display: inline-block;
  line-height: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: -webkit-linear-gradient(darkgrey 50%, grey 50%);
  background:    -moz-linear-gradient(darkgrey 50%, grey 50%);
  background:         linear-gradient(darkgrey 50%, grey 50%);
}
